name = "FairLoadDelivery"
uuid = "31a62089-13bc-47cf-8319-6ca05ec295b1"
authors = ["Amanda West <38090325+awest32@users.noreply.github.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
